.stackedBar {
  display: flex;
  color: white;
}

.sectionLabel {
  display: inline-block;
  width: 100%;
  text-align: center;
  font-size: 12px;
  overflow: hidden;
}

.caption {
  display: flex;
  color: black;
  text-align: center;
  font-size: 12px;
}
